
.ContactUs_ContactUs {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.ContactUs_ContactUs .ContactUs_1 {
	position: absolute;
	left: 92.8px;
	top: 119.68px;
	width: 169.6px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Rectangle31 {
	position: absolute;
	left: 49.28px;
	top: 424.32px;
	width: 1327.3600000000001px;
	height: 1642.88px;
}
.ContactUs_ContactUs .PLEASESHAREANYINFORMATIONORINSPIRATIONYOUHAVEFORYOURDREAMEVENT {
	position: absolute;
	left: 156.8px;
	top: 1230.72px;
	width: 967.04px;
	height: 30.72px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 23.04px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .EstimatedHeadcounts {
	position: absolute;
	left: 156.8px;
	top: 992.64px;
	width: 338.56px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .WheredoyouReside {
	position: absolute;
	left: 666.88px;
	top: 992.64px;
	width: 330.24px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .EventLocation {
	position: absolute;
	left: 1080.96px;
	top: 778.24px;
	width: 233.6px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .EventType {
	position: absolute;
	left: 175.36px;
	top: 778.24px;
	width: 177.28px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .EventDate {
	position: absolute;
	left: 666.88px;
	top: 778.24px;
	width: 171.52px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Name {
	position: absolute;
	left: 175.36px;
	top: 584.96px;
	width: 88.32000000000001px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Email {
	position: absolute;
	left: 666.88px;
	top: 584.96px;
	width: 86.4px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Phone {
	position: absolute;
	left: 1122.56px;
	top: 584.96px;
	width: 97.92px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 40.96px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Line6 {
	position: absolute;
	left: 156.8px;
	top: 663.04px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line9 {
	position: absolute;
	left: 156.8px;
	top: 877.44px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line12 {
	position: absolute;
	left: 156.8px;
	top: 1119.3600000000001px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line13 {
	position: absolute;
	left: 638.08px;
	top: 1119.3600000000001px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line10 {
	position: absolute;
	left: 638.08px;
	top: 877.44px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line11 {
	position: absolute;
	left: 1056.64px;
	top: 877.44px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line7 {
	position: absolute;
	left: 638.08px;
	top: 663.04px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Line8 {
	position: absolute;
	left: 1056.64px;
	top: 663.04px;
	width: 230.4px;
	height: 0px;
	border: 1px solid rgba(0,0,0,1);
}
.ContactUs_ContactUs .Rectangle32 {
	position: absolute;
	left: 156.8px;
	top: 1315.2px;
	width: 1111.68px;
	height: 398.72px;
	background: rgba(255,255,255,1.00);
}
.ContactUs_ContactUs .WecantwaittohearfromyouWearecurrentlyacceptingclientsforfullserviceplanninglaurenafoxeventcom84373200061304ErckmannDriveSuiteBMountPleasantSC29464 {
	position: absolute;
	left: 255.36px;
	top: 192.64000000000001px;
	width: 846.08px;
	height: 144px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 23.04px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Submit {
	position: absolute;
	left: 1188.48px;
	top: 1975.68px;
	width: 80px;
	height: 15.36px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 30.72px;
	font-weight: 400;
	line-height: 15.36px;
}
.ContactUs_ContactUs .Vector {
	position: absolute;
	left: 38.003750000000004px;
	top: 64.34484375px;
	width: 1.0784096306437194%;
	height: 0.6709545150252901%;
}