
.Events_1_Events {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.Events_1_Events ._1a11 {
	position: absolute;
	left: 91.28000000000002px;
	top: 179.76000000000002px;
	width: 362.88000000000005px;
	height: 256.48px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .Events_1 {
	position: absolute;
	left: 97.44000000000001px;
	top: 58.24000000000001px;
	width: 90.16000000000001px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .Mehendifunction {
	position: absolute;
	left: 142.8px;
	top: 459.76000000000005px;
	width: 234.64000000000001px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .ReceptionDecorations {
	position: absolute;
	left: 589.6800000000001px;
	top: 978.8800000000001px;
	width: 304.08000000000004px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .ReceptionDecorations_1 {
	position: absolute;
	left: 589.6800000000001px;
	top: 978.8800000000001px;
	width: 304.08000000000004px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .BachelorsParty {
	position: absolute;
	left: 1068.48px;
	top: 975.5200000000001px;
	width: 213.92000000000002px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .WeddingDecorations {
	position: absolute;
	left: 142.8px;
	top: 978.8800000000001px;
	width: 287.84000000000003px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .CulturalDecorations {
	position: absolute;
	left: 580.1600000000001px;
	top: 1513.1200000000001px;
	width: 276.08000000000004px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .SocialDecorations {
	position: absolute;
	left: 1031.5200000000002px;
	top: 1513.1200000000001px;
	width: 250.32000000000002px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .AnniversaryDecor {
	position: absolute;
	left: 128.8px;
	top: 1513.1200000000001px;
	width: 251.44000000000003px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .WeaningCeremony {
	position: absolute;
	left: 600.8800000000001px;
	top: 459.76000000000005px;
	width: 262.08000000000004px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .BabyShowerDecors {
	position: absolute;
	left: 1036px;
	top: 459.76000000000005px;
	width: 278.88000000000005px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign {
	position: absolute;
	left: 142.8px;
	top: 510.16px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_1 {
	position: absolute;
	left: 615.44px;
	top: 1029.2800000000002px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_2 {
	position: absolute;
	left: 1068.48px;
	top: 1022.5600000000001px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_3 {
	position: absolute;
	left: 149.52px;
	top: 1028.72px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_4 {
	position: absolute;
	left: 1036px;
	top: 1564.64px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_5 {
	position: absolute;
	left: 591.9200000000001px;
	top: 1564.0800000000002px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalMehendidecorYellowThemedesign_6 {
	position: absolute;
	left: 133.84px;
	top: 1574.7200000000003px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .TraditionalWeaningdecorEVerthingyouneedforbaby {
	position: absolute;
	left: 605.36px;
	top: 509.6px;
	width: 252.56000000000003px;
	height: 49.28px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .EverykindofBabyShowerThemed {
	position: absolute;
	left: 1052.24px;
	top: 506.80000000000007px;
	width: 229.04000000000002px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 17.92px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Events_1_Events .images1 {
	position: absolute;
	left: 569.5200000000001px;
	top: 179.76000000000002px;
	width: 324.24px;
	height: 256.48px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events ._61NzrHSpkXL1 {
	position: absolute;
	left: 1009.6800000000001px;
	top: 179.76000000000002px;
	width: 314.72px;
	height: 256.48px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .OgX67nvm94OE4EtscftxNbeJcMJVcDkgNJqdX16h1 {
	position: absolute;
	left: 97.44000000000001px;
	top: 679.84px;
	width: 356.72px;
	height: 262.08000000000004px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .weddingdecorheadtable21 {
	position: absolute;
	left: 569.5200000000001px;
	top: 679.84px;
	width: 324.24px;
	height: 262.08000000000004px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .BACHELORPARTYATTERRACE21 {
	position: absolute;
	left: 1009.6800000000001px;
	top: 665.84px;
	width: 314.72px;
	height: 276.08000000000004px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .images11 {
	position: absolute;
	left: 97.44000000000001px;
	top: 1181.6000000000001px;
	width: 356.72px;
	height: 294.56px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events ._0363e89b9309b015b579a3bd30864f04oj9micet7nvy4rttply0c9wl8a2r4ity3o1vntpj1c1 {
	position: absolute;
	left: 569.5200000000001px;
	top: 1181.6000000000001px;
	width: 324.24px;
	height: 294.56px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .evelinafrimanhw_sKmjb0nsunsplash2 {
	position: absolute;
	left: 1014.1600000000001px;
	top: 1181.6000000000001px;
	width: 310.24px;
	height: 294.56px;
	object-fit: cover;
	overflow: hidden;
}
.Events_1_Events .Vector {
	position: absolute;
	left: 49.28px;
	top: 58.24000000000001px;
	width: 1.016419077404222%;
	height: 0.6709533128319821%;
}