
.Events_Events {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.Events_Events ._1a11 {
	position: absolute;
	left: 92.91px;
	top: 182.96999999999997px;
	width: 369.35999999999996px;
	height: 261.06px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events .Events_1 {
	position: absolute;
	left: 99.17999999999999px;
	top: 59.279999999999994px;
	width: 91.77px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .Mehendifunction {
	position: absolute;
	left: 145.35px;
	top: 467.96999999999997px;
	width: 238.82999999999998px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .ReceptionDecorations {
	position: absolute;
	left: 600.2099999999999px;
	top: 996.3599999999999px;
	width: 309.51px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .ReceptionDecorations_1 {
	position: absolute;
	left: 600.2099999999999px;
	top: 996.3599999999999px;
	width: 309.51px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .BachelorsParty {
	position: absolute;
	left: 1087.56px;
	top: 992.9399999999999px;
	width: 217.73999999999998px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .WeddingDecorations {
	position: absolute;
	left: 145.35px;
	top: 996.3599999999999px;
	width: 292.97999999999996px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .WeaningCeremony {
	position: absolute;
	left: 611.6099999999999px;
	top: 467.96999999999997px;
	width: 266.76px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .BabyShowerDecors {
	position: absolute;
	left: 1054.5px;
	top: 467.96999999999997px;
	width: 283.85999999999996px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .TraditionalMehendidecorYellowThemedesign {
	position: absolute;
	left: 145.35px;
	top: 519.27px;
	width: 257.07px;
	height: 50.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .TraditionalMehendidecorYellowThemedesign_1 {
	position: absolute;
	left: 626.43px;
	top: 1047.6599999999999px;
	width: 257.07px;
	height: 50.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .TraditionalMehendidecorYellowThemedesign_2 {
	position: absolute;
	left: 1087.56px;
	top: 1040.82px;
	width: 257.07px;
	height: 50.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .TraditionalMehendidecorYellowThemedesign_3 {
	position: absolute;
	left: 152.19px;
	top: 1047.09px;
	width: 257.07px;
	height: 50.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .TraditionalWeaningdecorEVerthingyouneedforbaby {
	position: absolute;
	left: 616.17px;
	top: 518.6999999999999px;
	width: 257.07px;
	height: 50.16px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .EverykindofBabyShowerThemed {
	position: absolute;
	left: 1071.03px;
	top: 515.8499999999999px;
	width: 233.12999999999997px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 18.24px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .images1 {
	position: absolute;
	left: 579.6899999999999px;
	top: 182.96999999999997px;
	width: 330.03px;
	height: 261.06px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events ._61NzrHSpkXL1 {
	position: absolute;
	left: 1027.7099999999998px;
	top: 182.96999999999997px;
	width: 320.34px;
	height: 261.06px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events .OgX67nvm94OE4EtscftxNbeJcMJVcDkgNJqdX16h1 {
	position: absolute;
	left: 99.17999999999999px;
	top: 691.9799999999999px;
	width: 363.09px;
	height: 266.76px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events .weddingdecorheadtable21 {
	position: absolute;
	left: 579.6899999999999px;
	top: 691.9799999999999px;
	width: 330.03px;
	height: 266.76px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events .BACHELORPARTYATTERRACE21 {
	position: absolute;
	left: 1027.7099999999998px;
	top: 677.7299999999999px;
	width: 320.34px;
	height: 281.01px;
	object-fit: cover;
	overflow: hidden;
}
.Events_Events .SeeMore {
	position: absolute;
	left: 637.8299999999999px;
	top: 1204.9799999999998px;
	width: 214.32px;
	height: 79.22999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Lancelot;
	font-size: 36.48px;
	font-weight: 400;
	line-height: 13.68px;
}
.Events_Events .Vector {
	position: absolute;
	left: 35.91px;
	top: 59.279999999999994px;
	width: 1.0297029702970297%;
	height: 1.0122311261071277%;
}