
.Gallery_Gallery {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.Gallery_Gallery ._1a11 {
	position: absolute;
	left: 91.28000000000002px;
	top: 179.76000000000002px;
	width: 195.44000000000003px;
	height: 187.60000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .Gallery_1 {
	position: absolute;
	left: 97.44000000000001px;
	top: 58.24000000000001px;
	width: 98.00000000000001px;
	height: 13.440000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 35.84px;
	font-weight: 400;
	line-height: 13.440000000000001px;
}
.Gallery_Gallery .images1 {
	position: absolute;
	left: 380.24px;
	top: 179.76000000000002px;
	width: 220.64000000000001px;
	height: 187.60000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery ._61NzrHSpkXL1 {
	position: absolute;
	left: 687.1200000000001px;
	top: 179.76000000000002px;
	width: 206.64000000000001px;
	height: 187.60000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .OgX67nvm94OE4EtscftxNbeJcMJVcDkgNJqdX16h1 {
	position: absolute;
	left: 996.8000000000001px;
	top: 179.76000000000002px;
	width: 236.88000000000002px;
	height: 187.60000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .weddingdecorheadtable21 {
	position: absolute;
	left: 91.28000000000002px;
	top: 475.44000000000005px;
	width: 195.44000000000003px;
	height: 186.48000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .BACHELORPARTYATTERRACE21 {
	position: absolute;
	left: 386.40000000000003px;
	top: 475.44000000000005px;
	width: 203.28000000000003px;
	height: 186.48000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .images11 {
	position: absolute;
	left: 687.1200000000001px;
	top: 475.44000000000005px;
	width: 206.64000000000001px;
	height: 186.48000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery ._0363e89b9309b015b579a3bd30864f04oj9micet7nvy4rttply0c9wl8a2r4ity3o1vntpj1c1 {
	position: absolute;
	left: 1000.1600000000001px;
	top: 475.44000000000005px;
	width: 233.52px;
	height: 186.48000000000002px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .evelinafrimanhw_sKmjb0nsunsplash2 {
	position: absolute;
	left: 97.44000000000001px;
	top: 770.0000000000001px;
	width: 210.56000000000003px;
	height: 168.00000000000003px;
	object-fit: cover;
	overflow: hidden;
}
.Gallery_Gallery .Vector {
	position: absolute;
	left: 34.160000000000004px;
	top: 58.24000000000001px;
	width: 1.016419077404222%;
	height: 0.6709533128319821%;
}