
.HomePage_HomePage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.HomePage_HomePage .carbonskipbackfilled {
	position: absolute;
	left: 0px;
	top: 44.55px;
	width: 31.68px;
	height: 31.68px;
}
.HomePage_HomePage .photosbylantyO38Id_cyV4Munsplash1 {
	position: absolute;
	left: 49.43219178082191%;
	top: 17.742800177226407%;
	transform: translate(-50%, -50%);
	width: 1447.3799999999999px;
	height: 800.91px;
	object-fit: cover;
	overflow: hidden;
}
.HomePage_HomePage .MENU {
	position: absolute;
	left: 1231.56px;
	top: 76.23px;
	width: 111.87px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Manrope;
	font-size: 39.6px;
	font-weight: 500;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .LandMarkDecor {
	position: absolute;
	left: 470.25px;
	top: 889.02px;
	width: 576.18px;
	height: 60.39px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 63.36px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .Soifyoulikelivinginthemomentandgoingallcrazywithpartieswhynottakethefunandexcitementonline {
	position: absolute;
	left: 190.07999999999998px;
	top: 1006.83px;
	width: 1012.77px;
	height: 97.02px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 31.68px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .LandMarkDecorEventsisafullserviceplanninganddesignSiteWhetheryourstyleisbreathtakinglyboldexquisitelyelegantorcharminglychicourtalentedteamwillcarefullycurateeveryelementofyourvisiontomakesureitshinesasbrightlyasyouWedontbelieveinburnandturnwhichiswhyatLandMarkDecorweworktogetherwithourcouplestocreateandexecuteacustomandstunningvision {
	position: absolute;
	left: 176.22px;
	top: 1191.96px;
	width: 951.39px;
	height: 166.32px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 31.68px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .thomaswilliamQ3PzwHKpEdcunsplash1 {
	position: absolute;
	left: 932.58px;
	top: 1537.47px;
	width: 433.62px;
	height: 518.76px;
	object-fit: cover;
	overflow: hidden;
}
.HomePage_HomePage .BabyShowerofMrsSonalu {
	position: absolute;
	left: 1033.56px;
	top: 2113.65px;
	width: 309.87px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 23.759999999999998px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .jonathanborbaB_R3rmJPeSEunsplash1 {
	position: absolute;
	left: 190.07999999999998px;
	top: 1537.47px;
	width: 459.36px;
	height: 518.76px;
	object-fit: cover;
	overflow: hidden;
}
.HomePage_HomePage .RahulandRehenaswedding {
	position: absolute;
	left: 230.67px;
	top: 2113.65px;
	width: 308.88px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 23.759999999999998px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.HomePage_HomePage .AnExperiencetoRemember {
	position: absolute;
	left: 176.22px;
	top: 140.58px;
	width: 970.2px;
	height: 23.759999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Lancelot;
	font-size: 95.03999999999999px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}