
.MehendiDesign_MehendiDesign {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.MehendiDesign_MehendiDesign ._1a12 {
	position: absolute;
	left: 335.72999999999996px;
	top: 135.08999999999997px;
	width: 852.15px;
	height: 596.2199999999999px;
	object-fit: cover;
	overflow: hidden;
}
.MehendiDesign_MehendiDesign .BestMehndiDecoration1 {
	position: absolute;
	left: 335.72999999999996px;
	top: 1004.3399999999999px;
	width: 852.15px;
	height: 629.28px;
	object-fit: cover;
	overflow: hidden;
}
.MehendiDesign_MehendiDesign .WeddingDecorationIdeas_Webringyoudecortrendsfor201920201 {
	position: absolute;
	left: 335.72999999999996px;
	top: 1864.4699999999998px;
	width: 852.15px;
	height: 688.56px;
	object-fit: cover;
	overflow: hidden;
}
.MehendiDesign_MehendiDesign .AshighlyexperiencedweddingprofessionalswehaveaproventrackrecordofdeliveringexceptionaleventsthatexceedclientsexpectationsWeareknownforourmeticulousattentiontodetailcreativevisionandunwaveringcommitmenttomakingeachweddingauniqueandunforgettableexperience {
	position: absolute;
	left: 379.04999999999995px;
	top: 767.2199999999999px;
	width: 730.7399999999999px;
	height: 41.04px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .Seemore {
	position: absolute;
	left: 531.24px;
	top: 808.2599999999999px;
	width: 59.279999999999994px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .Seemore_1 {
	position: absolute;
	left: 590.52px;
	top: 2661.8999999999996px;
	width: 59.279999999999994px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .Seemore_2 {
	position: absolute;
	left: 531.24px;
	top: 1710.57px;
	width: 59.279999999999994px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .AshighlyexperiencedweddingprofessionalswehaveaproventrackrecordofdeliveringexceptionaleventsthatexceedclientsexpectationsWeareknownforourmeticulousattentiontodetailcreativevisionandunwaveringcommitmenttomakingeachweddingauniqueandunforgettableexperience_1 {
	position: absolute;
	left: 379.04999999999995px;
	top: 1669.5299999999997px;
	width: 730.7399999999999px;
	height: 41.04px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .AshighlyexperiencedweddingprofessionalswehaveaproventrackrecordofdeliveringexceptionaleventsthatexceedclientsexpectationsWeareknownforourmeticulousattentiontodetailcreativevisionandunwaveringcommitmenttomakingeachweddingauniqueandunforgettableexperience_2 {
	position: absolute;
	left: 430.34999999999997px;
	top: 2623.14px;
	width: 730.7399999999999px;
	height: 41.04px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 13.68px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign ._ {
	position: absolute;
	left: 1236.8999999999999px;
	top: 400.71px;
	width: 62.129999999999995px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 72.96px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .__1 {
	position: absolute;
	left: 1236.8999999999999px;
	top: 1305.3px;
	width: 62.129999999999995px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 72.96px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .__2 {
	position: absolute;
	left: 1236.8999999999999px;
	top: 2331.2999999999997px;
	width: 62.129999999999995px;
	height: 13.68px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 72.96px;
	font-weight: 400;
	line-height: 13.68px;
}
.MehendiDesign_MehendiDesign .Star1 {
	position: absolute;
	left: 1111.5px;
	top: 778.6199999999999px;
	width: 33.629999999999995px;
	height: 41.04px;
}
.MehendiDesign_MehendiDesign .Vector {
	position: absolute;
	left: 241.96221679687497px;
	top: 66.47708496093749px;
	width: 0.8436065359213917%;
	height: 0.48543630552685946%;
}