
.MehendiDesign_1_MehendiDesign {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.MehendiDesign_1_MehendiDesign ._1a12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1452.96px;
	height: 810.7199999999999px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 38.4px;
}
.MehendiDesign_1_MehendiDesign .LoremipsumdolorsitametconsecteturadipiscingelitVestibulumvenenatisvenenatismaurisutdictumAeneansedelementummiNamsedipsumvelturpisimperdietposuerevitaeatortorCurabituraconvallisquamconsequatsagittislectusCurabituraliquamultriciesjustouttempusNullamideleifendrisusNuncconguefermentumlectusidsodalesNameuelementumleoNamquisluctusanteacondimentumerosIntegerfacilisisutrisusvelmalesuadaInnecposuereipsumSedluctuspulvinarmagnanectemporProinipsumnibhauctorvitaefermentumegetdignissimegetnequeNamcommodometusliberosedeuismodmassafacilisissitametAliquamadiameumetussempervenenatisutegetnibhDonecullamcorpersemutlectuscursusrutrumCrasvorasvolutpatultricesmaximusMauristempusurnaeuenimblanditnonvenenatistellushendreritProinconsequatinterdumduidapibusvenenatisSedconsequategetleoutlaciniaNuncsollicitudinvulputatesagittisAliquameratvolutpatInhachabitasseplateadictumstUtturpismieuismodsedquamvelpulvinarvolutpatelitPhasellusdictumexconguetinciduntviverraauguemaurishendreritauguesitametcursusmagnalectusaeratNamconsecteturnislsitametdolorlaoreetscelerisqueMaurisnonpharetradolorQuisquerhoncusconvallisfinibusCrassollicitudindictumfelisacaliquetQuisquetinciduntplaceratlaciniaDonecvitaeimperdietquamvelscelerisqueestMaecenaseutellusiaculispulvinarmagnafringillascelerisquelacusMaurisconsecteturdictumfringillaUtsapienturpiscursusidpurusidfermentumultricesfelisSedscelerisquemetusacelitfermentumegestassitametetexMaecenasauctorexquiselementumvenenatisnibhnisialiquetdoloreuluctuselitnuncnondolorFuscenibhjustoultriciesquisipsumacsagittiseleifendlacusCurabiturquisaliquetduiIntegerlobortisetmietsodalesVivamusutimperdietnislNullapharetraenimsagittisipsumlobortisaliquamInsitametaliquamodioInconsequatpellentesqueerossedefficiturantedignissimsitametCraseuipsumerosNullamacauguerhoncusaccumsanminecvulputateurnaQuisquefaucibustortorloremegetvenenatisurnadictumetSedelementumexvitaeleorutrumquispretiumtellusmollisSedinultriceslectusPraesentcondimentumliberosapienidtristiquenislefficiturcursusMorbiatsagittisquaminmolestieturpisPraesentvelarcueunequeultricesviverranecsitametsapienMaecenaslaoreetnibhvitaeelitscelerisquemaximusfermentumarcuportaNullamnequenequemolestieinconguevelvestibulumsedturpisDonecornareestacsodalesconvallisUtegestasorcinecporttitorpellentesqueEtiamviverraegestasaugueUtquisauguelaoreetcongueestsuscipitegestasligulaDonecconvallistellusmaurisvelvestibulummassaaliquamegetPraesentporttitornisletluctussagittisMaecenaslaoreettortorvulputateleomollisatlobortisexcongueNullainvenenatismetusutimperdietmetusVestibulumidefficiturenimPraesentscelerisquetinciduntvenenatisNullametsemquisnequeconvallisfacilisisatviverranisiMaurisnecposuererisusutefficiturenimCrasnonpurusmiDonecidsemperrisusMaecenaspulvinarerosetpurusiaculistinciduntCurabiturdapibusetaugueegetaliquetUttempusexsedrutrumpretiumfelisrisustempornibhacscelerisquetortormieumetusVivamussednullaegettellusrutrumtristiquerutrumatturpisAliquamvitaesemacerosiaculisbibendumMaurisodiorisusaccumsannecaliquetincursussedturpisUtlaoreetsemtinciduntsodalessollicitudin {
	position: absolute;
	left: 107.03999999999999px;
	top: 885.6px;
	width: 1223.04px;
	height: 360.96px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 15.36px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .Ratings {
	position: absolute;
	left: 1110.72px;
	top: 1139.52px;
	width: 41.76px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 15.36px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .Star2 {
	position: absolute;
	left: 1271.52px;
	top: 1161.6px;
	width: 28.799999999999997px;
	height: 34.56px;
	background: rgba(0,0,0,1.00);
}
.MehendiDesign_1_MehendiDesign .Star3 {
	position: absolute;
	left: 1322.8799999999999px;
	top: 1161.6px;
	width: 28.799999999999997px;
	height: 34.56px;
	background: rgba(0,0,0,1.00);
}
.MehendiDesign_1_MehendiDesign .Star4 {
	position: absolute;
	left: 1110.72px;
	top: 1161.6px;
	width: 28.799999999999997px;
	height: 34.56px;
	background: rgba(0,0,0,1.00);
}
.MehendiDesign_1_MehendiDesign .Star5 {
	position: absolute;
	left: 1165.44px;
	top: 1161.6px;
	width: 28.799999999999997px;
	height: 34.56px;
	background: rgba(0,0,0,1.00);
}
.MehendiDesign_1_MehendiDesign .Star6 {
	position: absolute;
	left: 1216.8px;
	top: 1161.6px;
	width: 28.799999999999997px;
	height: 34.56px;
	background: rgba(0,0,0,1.00);
}
.MehendiDesign_1_MehendiDesign .Reviews {
	position: absolute;
	left: 107.03999999999999px;
	top: 1573.44px;
	width: 58.559999999999995px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 19.2px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign ._ {
	position: absolute;
	left: 107.03999999999999px;
	top: 1619.04px;
	width: 342.24px;
	height: 103.67999999999999px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 19.2px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .Rectangle30 {
	position: absolute;
	left: 1123.68px;
	top: 1594.08px;
	width: 206.4px;
	height: 76.8px;
	background: rgba(217,217,217,1.00);
}
.MehendiDesign_1_MehendiDesign .Calender {
	position: absolute;
	left: 1194.24px;
	top: 1625.76px;
	width: 64.8px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 19.2px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .AvailableDates {
	position: absolute;
	left: 1161.6px;
	top: 1535.52px;
	width: 109.92px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 19.2px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .PriceRange {
	position: absolute;
	left: 107.03999999999999px;
	top: 1240.8px;
	width: 85.92px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 19.2px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign ._1Lakhslakhs20Thousand {
	position: absolute;
	left: 107.03999999999999px;
	top: 1284.96px;
	width: 330.71999999999997px;
	height: 11.52px;
	color: rgba(0,0,0,1.00);
	font-family: Libre Caslon Display;
	font-size: 30.72px;
	font-weight: 400;
	line-height: 11.52px;
}
.MehendiDesign_1_MehendiDesign .logoswhatsappicon {
	position: absolute;
	left: 1210.08px;
	top: 1253.28px;
	width: 122.88px;
	height: 123.83999999999999px;
}
.MehendiDesign_1_MehendiDesign .logoswhatsappicon .Vector {
	position: absolute;
	left: 2.127890625px;
	top: 2.1369580078125px;
	width: 96.53635025024414%;
	height: 96.21900218401768%;
}
.MehendiDesign_1_MehendiDesign .logoswhatsappicon .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 99.66938107512718%;
}
.MehendiDesign_1_MehendiDesign .logoswhatsappicon .Vector_2 {
	position: absolute;
	left: 30.608671875px;
	top: 32.9140283203125px;
	width: 50.5650520324707%;
	height: 46.53239878573159%;
}
.MehendiDesign_1_MehendiDesign .Vector_3 {
	position: absolute;
	left: 48.48px;
	top: 48.96px;
	width: 0.8589362405021472%;
	height: 0.586940572267058%;
}