
.Menu_Menu {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,202,102,0.33);
}
.Menu_Menu .photosbylantyO38Id_cyV4Munsplash1 {
	position: absolute;
	left: 49.43219178082191%;
	top: 17.742800177226407%;
	transform: translate(-50%, -50%);
	width: 1447.3799999999999px;
	height: 800.91px;
	object-fit: cover;
	overflow: hidden;
}
.Menu_Menu .AnExperiencetoRemember {
	position: absolute;
	left: 61.38px;
	top: 135.63px;
	width: 970.2px;
	height: 23.759999999999998px;
	color: rgba(255,255,255,1.00);
	font-family: Lancelot;
	font-size: 95.03999999999999px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .MENU {
	position: absolute;
	left: 1297.89px;
	top: 76.23px;
	width: 45.54px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Manrope;
	font-size: 15.84px;
	font-weight: 500;
	line-height: 23.759999999999998px;
}
.Menu_Menu .LandMarkDecor {
	position: absolute;
	left: 470.25px;
	top: 889.02px;
	width: 576.18px;
	height: 60.39px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 63.36px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Soifyoulikelivinginthemomentandgoingallcrazywithpartieswhynottakethefunandexcitementonline {
	position: absolute;
	left: 190.07999999999998px;
	top: 1006.83px;
	width: 1012.77px;
	height: 97.02px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 31.68px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .LandMarkDecorEventsisafullserviceplanninganddesignSiteWhetheryourstyleisbreathtakinglyboldexquisitelyelegantorcharminglychicourtalentedteamwillcarefullycurateeveryelementofyourvisiontomakesureitshinesasbrightlyasyouWedontbelieveinburnandturnwhichiswhyatLandMarkDecorweworktogetherwithourcouplestocreateandexecuteacustomandstunningvision {
	position: absolute;
	left: 190.07999999999998px;
	top: 1237.5px;
	width: 951.39px;
	height: 166.32px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 31.68px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Rectangle29 {
	position: absolute;
	left: 1088.01px;
	top: 0px;
	width: 357.39px;
	height: 800.91px;
	background: rgba(217,217,217,1.00);
}
.Menu_Menu .About {
	position: absolute;
	left: 1230.57px;
	top: 76.23px;
	width: 158.4px;
	height: 50.49px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 47.519999999999996px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Events {
	position: absolute;
	left: 1230.57px;
	top: 193.05px;
	width: 136.62px;
	height: 45.54px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 47.519999999999996px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Theme {
	position: absolute;
	left: 1230.57px;
	top: 331.65px;
	width: 135.63px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 47.519999999999996px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Gallery {
	position: absolute;
	left: 1230.57px;
	top: 448.46999999999997px;
	width: 167.31px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 47.519999999999996px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Connect {
	position: absolute;
	left: 1230.57px;
	top: 565.29px;
	width: 188.1px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 47.519999999999996px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .LandMarkDecor_1 {
	position: absolute;
	left: 1231.56px;
	top: 734.58px;
	width: 187.10999999999999px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 23.759999999999998px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .thomaswilliamQ3PzwHKpEdcunsplash1 {
	position: absolute;
	left: 932.58px;
	top: 1537.47px;
	width: 433.62px;
	height: 518.76px;
	object-fit: cover;
	overflow: hidden;
}
.Menu_Menu .BabyShowerofMrsSonalu {
	position: absolute;
	left: 1033.56px;
	top: 2113.65px;
	width: 309.87px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 23.759999999999998px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .jonathanborbaB_R3rmJPeSEunsplash1 {
	position: absolute;
	left: 190.07999999999998px;
	top: 1537.47px;
	width: 459.36px;
	height: 518.76px;
	object-fit: cover;
	overflow: hidden;
}
.Menu_Menu .RahulandRehenaswedding {
	position: absolute;
	left: 230.67px;
	top: 2113.65px;
	width: 308.88px;
	height: 23.759999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Marcellus SC;
	font-size: 23.759999999999998px;
	font-weight: 400;
	line-height: 23.759999999999998px;
}
.Menu_Menu .Vector {
	position: absolute;
	left: 48.51px;
	top: 52.47px;
	width: 1.7808219178082192%;
	height: 1.0633584404076208%;
}